.title{
    margin-top: 280px;
    margin-left: 530px;
}

.container-box{
    margin-left: 600px;
    margin-top: 300px;
}

.g-signin2{
    margin-left: 100px;
}

.btn-out{
    margin-top: 30px;
    margin-left: 130px;
}

.box-login{
    border: 2px solid black;
    height: 130px;
    width: 280px;
    margin-left: 530px;
}
